/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$base-font: 'Open Sans', sans-serif;
$heading-font: 'Lora', serif;
$menu-font: 'Lora', serif;
$banner-font: 'Open Sans', sans-serif;
$bg1: #000;
$bg2: #000;
$base-color: #424242;
$color1: #151515;
$color2: #fa943b;
$color3: #fe9030;

@mixin linearGradient($top, $bottom) {
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $top 0%, $bottom 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $top 0%, $bottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

$theme-colors: (
  primary: #27ae60
);
