#author {
	padding: 70px 0;
    background: #e6e6e6;

	.text-cont {
		width: 80%;
		margin: 0 auto;
	}

	.img-cont {
		width: 300px;
		margin: 0 auto 30px;
	}

	@include media-breakpoint-down(sm) {
		.img-cont {
			width: 280px;
		}

		.text-cont {
			width: auto;
		}
	}

	@include media-breakpoint-down(xs) {
		padding: 50px 0 35px;

		.img-cont {
			width: 190px;
		}
	}
}
