#book {
	padding: 70px 0 55px;

	@include media-breakpoint-down(sm) {
		.img-cont {
			margin: 0 auto 30px;
    		width: 280px;
		}
	}

	@include media-breakpoint-down(xs) {
		padding: 50px 0 35px;

		.img-cont {
			width: 230px;
		}
	}
}
