#contact {
  padding: 100px 0;
  background: url("../images/contact-bg.png") center center no-repeat;
  background-size: cover;
  margin: 0 auto;
  overflow: hidden;

  @include media-breakpoint-only(sm) {
    min-height: 0;
    background-size: cover;
    text-align: center;
  }

  @include media-breakpoint-down(xs) {
    background-size: cover;
    text-align: center;
    padding: 50px 0;
  }

  h2 {
    color: $white;

    strong {
      color: $color1;
    }
  }

  p {
    color: $white;
  }

  .footer-social-square {
    li {
      margin: 0 10px 0 0;

      a {
        background: $color2;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;

        .fa,
        em {
          color: $white;
          vertical-align: middle;
        }
      }
    }
  }

  .footer-social-circle {
    li {
      margin: 0 10px 0 0;

      a {
        border-radius: 50%;
        background: $white;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;

        .fa,
        em {
          color: $color2;
          vertical-align: middle;
        }
      }
    }
  }

  .footer-social {
    margin: 0 0 60px;
    padding: 0;

    @include media-breakpoint-only(xs) {
      text-align: center;
    }

    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 10px 0 0;
      list-style-type: none;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      padding: 3px;
      color: $color2;

      @include media-breakpoint-only(xs) {
        margin: 10px;
      }

      a {
        -webkit-transform: perspective(1px) translateZ(0);
        -moz-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        transition: transform 0.3s ease;
        -webkit-transition: transform 0.3s ease;
        -moz-transition: transform 0.3s ease;
        display: inline-block;

        svg {
          position: relative;
          top: 8px;
          color: $color2;
        }

        &:hover {
          -webkit-transform: scale(0.9);
          -moz-transform: scale(0.9);
          transform: scale(0.9);
        }

        .fa,
        em {
          color: $color2;
          font-size: 35px;
          font-style: normal;
        }
      }
    }

    li.goodreads {
      a {
        line-height: 35px;

        em {
          font-family: Average Sans, sans-serif;
          font-weight: normal;
          color: $color2;
        }
      }
    }
  }
}

/* ====================================FOR FAN MAIL================================================================= */
