#order {
  padding: 70px 0;
  background: url("../images/excerpts-bg.png") center center no-repeat;
  background-size: cover;

  @include media-breakpoint-down(md) {
    text-align: center;
  }

  @media (min-width: 1540px) {
    background: url(../images/excerpts-bg.png) 50% 40% no-repeat;
    background-size: cover;
  }

  h2 {
    color: $color2;
    display: inline-block;
    border-bottom: 8px solid #dedbe3;
  }

  .right-wrapper {
    border-top: 15px solid $color2;
    padding: 75px 15px;
    background: $white;
    text-align: center;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 15px 0 rgba(128, 116, 128, 1);
    -moz-box-shadow: 0 0 15px 0 rgba(128, 116, 128, 1);
    box-shadow: 0 0 15px 0 rgba(128, 116, 128, 1);
  }

  .text-cont {
    @include media-breakpoint-down(md) {
      margin: 30px 0 0 0;
    }

    p {
      border-bottom: dashed;
      border-width: thin;
      margin-bottom: 35px;
      padding-bottom: 35px;

      &:last-child {
        border: none;
      }
    }
  }

  .book-type {
    padding: 0 0 30px;
    margin-top: 25px;

    @media (max-width: 1200px) {
      text-align: center;
    }

    a {
      margin: 10px;
      width: 392.7px;
      height: 77.3px;
      line-height: 37px;
      max-width: 94%;

      @include media-breakpoint-only(lg) {
        width: 313.7px;
      }

      @include media-breakpoint-only(md) {
        width: 214.7px;
        height: 51.3px;
        line-height: 11px;
        font-size: 15px;
      }
    }
  }

  .book-store {
    @media (max-width: 1200px) {
      text-align: center;
    }

    p {
      padding: 0 0 10px;
      font-size: 16px;
      display: block;
      margin-right: 20px;
      margin-top: 12px;
      float: left;
      color: $color2;
      font-weight: 700;
      border: none;

      @include media-breakpoint-down(xs) {
        float: none;
      }
    }

    img {
      &:hover {
        -webkit-transform: scale(1.05, 1.07);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 0.25s;
        -moz-transform: scale(1.05, 1.07);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 0.25s;
      }
    }

    a.amazon {
      padding-top: 10px;
    }

    a {
      display: inline-block;
      margin: 0 10px 0 0;
      vertical-align: middle;
    }
  }
}
