$base-font-family: 'Lato', sans-serif;
$heading-font-family : 'Oswald', sans-serif;
$font-family2 : 'Lato', sans-serif;

$base-color: #666;
$white: #fff;
$black: #000;
$color1: #ffe586; //yellow
$color2: #88799e; //violet
$color3: #e33241;

$bg1: #161616;
$bg2: #1a1a1a;
$bg3: $color2; //blog sidebar

@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -ms-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

.banner-h1 {
  font-family: $font-family2;
  font-size: 50px;
  color: $white;
  font-weight: bold;
}

.banner-h2 {
  font-family: $base-font-family;
  font-size: 30px;
  color: $color1;
  font-weight: bold;
}

.banner-button {
  font-size: 24px;
  text-transform: uppercase; /* capitalize, none, uppercase, lowercase */
  padding: 20px 0;
  width: 324.8px;
  height: 76.7px;
  margin: 50px 0 0;

  @media (max-width: 360px) {
    max-width: 100%;
  }
}

