#book {
	padding: 70px 0 55px;

	#BookCarousel {
		.img-cont {
			position: relative;
			top: -123px;
		}

		.carousel-inner {
			overflow: unset;

			.text-cont-2 {
				padding: 110px 0;
			}

			.text-cont {
				h2 {
					color: #333;
					font-size: 40px;
					font-family: $lora;
					font-weight: 700;
	
					span {
						color: #ff4800;
					}
	
					strong {
						color: #83a147;
					}
				}
	
				.title {
					color: #ff4800;
					font-family: 'Nunito', sans-serif;
					font-size: 24px;
					font-weight: 700;
				}
	
				.title2 {
					color: #83a147;
					font-family: 'Nunito', sans-serif;
					font-size: 24px;
					font-weight: 700;
				}
	
				p {
					font-family: 'Nunito Sans', sans-serif;
					line-height: 35px;
				}
			}
		}

		.carousel-indicators {
			margin-right: 10%;
			margin-left: 10%;
			justify-content: left;

			li {
				background: #739341;
				border-radius: 50%;
				height: 15px;
				width: 15px;
				border-top: none;
				border-bottom: none;
				padding: 0;
			}
		}
	}

	@include media-breakpoint-down(lg) {
		padding: 70px 0 95px;
		
		#BookCarousel {
			.carousel-indicators {
				margin-right: 11%;
				margin-left: 11%;
				bottom: -40px;
			}
		}
	}

	@include media-breakpoint-down(md) {
		#BookCarousel {
			.carousel-inner {
				.text-cont-2 {
					padding: 0;
				}
			}

			.carousel-indicators {
				justify-content: center;
			}

			.img-cont {
				margin: 0 auto 30px;
				width: 350px;
				position: static;
			}

			.text-cont {
				text-align: center;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		#BookCarousel {
			.img-cont {
				margin: 0 auto 30px;
				width: 280px;
				position: static;
			}
		}
	}

	@include media-breakpoint-down(xs) {
		padding: 50px 0 75px;

		.img-cont {
			width: 230px;
		}
	}
}
